<ion-header>
  <app-toolbar></app-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="login_data" (ngSubmit)="saveNewPassword()">
    <ion-row class="container">
      <ion-col size="12">
        <h3>{{ 'RECOVERY_PASS.title' | translate }}</h3>
        <p *ngIf="tokenSended==false">{{ 'RECOVERY_PASS.text2' | translate }}</p>
        <p *ngIf="tokenSended">{{ 'RECOVERY_PASS.text1' | translate }}</p>
        <!-- <p>Solicita un token temporal para reestablecer tu password.</p>
        <a (click)="requestTempPass()">Obtener token temporal</a> -->
      </ion-col>
      <ion-col size="12" *ngIf="tokenSended==false">
          <ion-input type="text" formControlName="email" [(ngModel)]="variableEmail" placeholder="email" value="{{variableEmail}}"></ion-input>
      </ion-col>
      <ion-col size="12" *ngIf="tokenSended">
        <ion-input type="password" formControlName="temp_password" placeholder="{{ 'RECOVERY_PASS.tPassword' | translate }}"></ion-input>
      </ion-col>
      <ion-col size="12" *ngIf="tokenSended">
        <ion-input type="password" formControlName="password" placeholder="{{ 'RECOVERY_PASS.nPassword' | translate }}"></ion-input>
      </ion-col>
      <ion-col size="12"> 
        <span *ngIf="tokenSended" >{{ 'RECOVERY_PASS.text3' | translate }} <a (click)="clearAttemp()" style="font-weight: bold;"> {{ 'RECOVERY_PASS.urlText3' | translate }}</a></span>
      </ion-col> 
      <ion-col size="12" *ngIf="tokenSended">
        <ion-button type="submit" [disabled]="!login_data.valid">{{ 'RECOVERY_PASS.save' | translate }}</ion-button>
      </ion-col> 
      <ion-col size="12"> 
        <ion-button (click)="requestResetPassword()" *ngIf="tokenSended==false">{{ 'RECOVERY_PASS.request_password' | translate }}</ion-button>
      </ion-col> 
      <ion-col size="12"> 
        <ion-button (click)="cancel()" >{{ 'RECOVERY_PASS.cancel' | translate }}</ion-button>
      </ion-col> 
      <!-- <ion-col size="12"> 
        <ion-button (click)="getTempData()" >test</ion-button>
      </ion-col>    -->    
    </ion-row>
  </form>
</ion-content>