ion-content{
    // --background:  url("../../assets/img/bg.png") no-repeat center center / cover;
    --background: var(--naranja-light);
 }
 
 h3{
     color: var(--naranja);
     font-weight: bold;
     margin-top: 10px;
 }
 
 .container{
     padding: 2rem 4rem;
     text-align: center;
 }
 
 ion-button{
     --background: var(--aqua2);
     width: 50%;
     height: 33px;
     //margin-top: 12px;
     font-weight: bolder;
     --border-color: #fff;
     --border-width: 1px;
     --border-style: solid;
     --border-radius: 0px;
     --padding-start: 30px;
     --padding-end: 30px;  
 }
 
 ion-input{
     background-color: var(--gris-light);
     color: var(--negro);
     border-radius: 100px;
     margin-bottom: 10px;
 }
 
 .alertTokken{
     font-size: 0.7em;
 }