<ion-header>
  <app-toolbar></app-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="login_data" (ngSubmit)="saveNewPassword()">
    <ion-row class="container">
      <ion-col size="12">
        <h3>Recuperar Password</h3>
        <p *ngIf="tokenSended==false">Te enviaremos a tu correo tu contraseña temporal.</p>
        <p *ngIf="tokenSended">Ingresa el Password que se envió a tu correo electronico, a continuación ingresa tu nuevo Password</p>
        <!-- <p>Solicita un token temporal para reestablecer tu password.</p>
        <a (click)="requestTempPass()">Obtener token temporal</a> -->
      </ion-col>
      <ion-col size="12" *ngIf="tokenSended==false">
          <ion-input type="email" formControlName="email" [(ngModel)]="variableEmail" placeholder="email" value="{{variableEmail}}"></ion-input>
      </ion-col>
      <ion-col size="12" *ngIf="tokenSended">
        <ion-input type="password" formControlName="temp_password" placeholder="Password temporal"></ion-input>
      </ion-col>
      <ion-col size="12" *ngIf="tokenSended">
        <ion-input type="password" formControlName="password" placeholder="Nuevo password"></ion-input>
      </ion-col>
      <ion-col size="12"> 
        <span *ngIf="tokenSended" >Si no te llego tu Password temporal <a (click)="clearAttemp()" style="font-weight: bold;"> solicitala de nuevo aqui</a></span>
      </ion-col> 
      <ion-col size="12" *ngIf="tokenSended">
        <ion-button type="submit" [disabled]="!login_data.valid">Guardar</ion-button>
      </ion-col> 
      <ion-col size="12"> 
        <ion-button (click)="requestResetPassword()" *ngIf="tokenSended==false">Solicitar Password</ion-button>
      </ion-col> 
      <ion-col size="12"> 
        <ion-button (click)="cancel()" >Cancelar</ion-button>
      </ion-col> 
      <!-- <ion-col size="12"> 
        <ion-button (click)="getTempData()" >test</ion-button>
      </ion-col>    -->    
    </ion-row>
  </form>
</ion-content>