.header{
    padding: 1rem 2.4rem;
    padding-bottom: 0px;
    text-align: center;
    h3{
        color: var(--naranja);
        font-weight: bold;
        margin-top: 10px;
    }
}

.header-text{
    font-family: var(--font-alt);
    color: var(--negro);
    font-size: 0.8rem;
    line-height: 1.2;
} 

ion-grid{
    --ion-grid-padding: 15px ;
}

ion-col{
    --ion-grid-column-padding: 8px;
}

.title-slider{
    font-weight: bolder;
}

.bottom-slider-text{
    text-align: center;
    width: 65%;
}