<ion-header>
  <app-toolbar></app-toolbar>
</ion-header>
<ion-content> 
  <!--is not valid-->
  <ion-row class="container" *ngIf="showValidator">
    <ion-col size="12">
        <h3>{{ 'DREAMJORDANDET.have_coupon' | translate }}</h3>
    </ion-col>
    <ion-col size="12">
        <ion-input [(ngModel)]="couponCode" placeholder="{{ 'DREAMJORDANDET.write_here' | translate }}"></ion-input>
    </ion-col>
    <ion-col size="12"> 
        <ion-button (click)="validate()" [disabled]="couponCode===undefined">{{ 'DREAMJORDANDET.validate' | translate }}</ion-button>
    </ion-col>
  </ion-row>
  <!--ya validado-->
  <ion-row class="container" *ngIf="isValid">
      <ion-col size="12">
          <h3>{{ 'DREAMJORDANDET.your_code' | translate }}</h3>
      </ion-col>
      <ion-col size="12">
          <p class="coupon-code">{{couponCode}}</p>
      </ion-col>
      <ion-col size="12"> 
        <p class="warn-text">{{ 'DREAMJORDANDET.isvalid_lab' | translate }} <span class="valid-days">10</span> {{ 'DREAMJORDANDET.days' | translate }}</p>
        <ion-button class="primary" (click)="activate()">{{ 'DREAMJORDANDET.activate_now' | translate }}</ion-button>
        <ion-button class="cancel-btn" (click)="goHome()">{{ 'DREAMJORDANDET.later' | translate }}</ion-button>
      </ion-col>
    </ion-row>

</ion-content>
