<ion-header>
  <app-toolbar></app-toolbar>
</ion-header>
<ion-content>
    <ion-row class="header-row">
      <ion-col size="5">
        <img *ngIf="online==true" class="portait-img" [src]="co.API+current_tour?.field_imagen_tour_app"/>
        <img *ngIf="online==false"  class="portait-img" src="./assets/img/local/250x250.png"/>
        
      </ion-col>
      <ion-col size="7">
        <div class="header-text">
          <h4>{{current_tour?.title}}</h4>
          <span class="price" *ngIf="isActivated">{{getDaysLeft()}} {{ 'DREAMJORDANDET.countdown' | translate }}</span>
          <br>
        </div>
      </ion-col>
    </ion-row>
    <div class="description"> 
      <p>{{current_tour?.body}}</p>
    </div>
    <!-- cupon a validar -->
    <ion-row class="container" *ngIf="isValid == false && isActivated == false">
      <ion-col size="12">
          <h3>{{ 'DREAMJORDANDET.have_coupon' | translate }}</h3>
      </ion-col>
      <ion-col size="12">
          <ion-input [(ngModel)]="couponCode" placeholder="{{ 'DREAMJORDANDET.write_here' | translate }}"></ion-input>
      </ion-col>
      <ion-col size="12"> 
          <ion-button class="primary" (click)="validateCoupon()" [disabled]="couponCode===undefined">{{ 'DREAMJORDANDET.validate' | translate }}</ion-button>
      </ion-col>
      <ion-col size="12"> 
        <p class="warn-text">{{ 'DREAMJORDANDET.if_not' | translate }}</p>
          <ion-button class="primary" href="https://api.whatsapp.com/send?phone=5215554094418">{{ 'DREAMJORDANDET.contact_ana' | translate }}</ion-button>
      </ion-col>
    </ion-row>
    <!-- cupon Validado -->
    <ion-row class="container" *ngIf="isValid && isActivated == false">
      <ion-col size="12">
          <h3>{{ 'DREAMJORDANDET.your_code' | translate }}</h3>
      </ion-col>
      <ion-col size="12">
          <p class="coupon-code" >{{couponCode}}</p>
      </ion-col>
      <ion-col size="12"> 
        <p class="warn-text">{{ 'DREAMJORDANDET.isvalid_lab' | translate }} <span class="valid-days">10</span> {{ 'DREAMJORDANDET.days' | translate }}</p>
        <ion-button class="primary" (click)="activate()">{{ 'DREAMJORDANDET.activate_now' | translate }}</ion-button>
        <ion-button class="cancel-btn" (click)="goHome()">{{ 'DREAMJORDANDET.later' | translate }}</ion-button>
      </ion-col>
    </ion-row>
    <!--When is activated-->
    <ion-grid class="content-list" *ngIf="isValid && isActivated">  
        <ion-row *ngFor="let audio of audiosList; let i = index">
          <ion-col size="2" class="index-col">
            <ion-icon *ngIf="audio.descargado == 0" name="cloud-download" class="download-btn" (click)="downloadContent(audio,1)"></ion-icon>
            <ion-icon *ngIf="audio.descargado == 1" name="cloud-download" class="download-btn-sel" (click)="downloadContent(audio,0)"></ion-icon>
            <span *ngIf="audio.descargado == 0">Descargar</span>
            <span *ngIf="audio.descargado == 1">eliminar</span>
          </ion-col>
          <ion-col size="7">
            <span class="file-tour-name">{{audio.name}}</span>
            <br>
            <!-- <p class="file-tour-desc"> Dolorum inventore nam convallis eveniet hac class adipiscing blanditiis. Praesentium turpis cursus epteur.</p> -->
            <ion-range #progressBar [(ngModel)]="audio.audioelement.progress "max="{{audio.audioelement._duration}}"  color="success" step="0.5" (touchend)="seek(audio.audioelement, i)" (mouseup)="seek(audio.audioelement,i)">
              <ion-label *ngIf="isNumber(audio.audioelement.progress)" slot="start">{{(audio.audioelement.progress * 1000 | date:'mm:ss')}}</ion-label>
              <ion-label *ngIf="!isNumber(audio.audioelement.progress)" slot="start">00:00</ion-label>
              <ion-label slot="end">{{audio.audioelement._duration * 1000 | date:'mm:ss'}} </ion-label>
            </ion-range>
            
          </ion-col >
          <ion-col size="3" class="play-div">
            <img src="../../assets/img/play.svg" (click)="play(audio.audioelement)" *ngIf="!audio.isPlaying"/>
            <img src="../../assets/img/pause.svg" (click)="pause(audio.audioelement)" *ngIf="audio.isPlaying"/>
          </ion-col>
          <!-- <ion-button (click)="getKey(current_tour)">Obtener un key</ion-button>
          <ion-button (click)="getAllKeys()">Obtener todos keys</ion-button>
          <ion-button (click)="eliminaLocal(audio,current_tour)">eliminar key</ion-button>
          <ion-button (click)="getLocalTours()">obtener tours</ion-button>
          <ion-button (click)="getLocalAudios()">obtener audios</ion-button>   -->
        </ion-row>
      </ion-grid>
      <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button (click)="goBack()" routerDirection="back" color="light" size="small">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-fab-button>
      </ion-fab>
</ion-content>
