<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <img class="logo" src="./assets/img/logo.svg"/>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-icon (click)="openCart()" class="toolbar-icons" src="./assets/img/shopping-bag.svg" color="primary"></ion-icon>
      <ion-badge *ngIf="cart.length > 0" class="notifications-badge">{{cartItemCount | async}}</ion-badge>
      <ion-menu-button class="toolbar-icons" color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-row class="header-row" *ngIf="showTours || isActivated || isValid">
      <ion-col size="5">
        <img class="portait-img" [src]="co.API+current_tour?.field_imagen_dream_jordan_tour"/>
      </ion-col>
      <ion-col size="7">
        <div class="header-text">
          <h4>{{current_tour?.title}}</h4>
          <span class="price" *ngIf="isActivated">1 de 10 días</span>
          <br>
        </div>
      </ion-col>
    </ion-row>
    <div class="description" *ngIf="showTours || isActivated || isValid"> 
      <p>{{current_tour?.body}}</p>
    </div>
    <!--LOGIN-->
    <ion-row class="container" *ngIf="showTours == false && showLogin == true">
      <form [formGroup]="login_data" >
        <ion-col size="12">
          <h3>Login</h3>
        </ion-col>
        <ion-col size="12">
          <ion-input formControlName="email" placeholder="Correo"></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-input formControlName="password" placeholder="Password"></ion-input>
        </ion-col>
        <ion-col size="12"> 
          <ion-button (click)="doLogin(login_data.value)" [disabled]="!login_data.valid">Acceder</ion-button>
        </ion-col>
        <ion-col size="12"> 
          <!-- <ion-button (click)="muestraRegistro()">Registro</ion-button> -->
          <ion-button>Registro</ion-button>
        </ion-col>
        <ion-col size="12"> 
          <p>Para poder obtener el contenido es necesario acceder, si no estas registrado, puedes hacerlo rapidamente.</p>
        </ion-col>
      </form>
    </ion-row>
    <!--REGISTRO-->
    <ion-row class="container" *ngIf="showRegister && showLogin == false">
      <form [formGroup]="register_data" >
        <ion-col size="12">
          <h3>Registro</h3>
        </ion-col>
        <ion-col size="12">
          <ion-input formControlName="email" placeholder="Correo"></ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-input formControlName="password" placeholder="Password"></ion-input>
        </ion-col>
        <ion-col size="12"> 
          <ion-button (click)="register(register_data.value)" [disabled]="!register_data.valid">Registrarse</ion-button>
        </ion-col>
        <ion-col size="12"> 
          <p>Para poder obtener el contenido es necesario acceder, si no estas registrado, puedes hacerlo rapidamente.</p>
        </ion-col>
      </form>
    </ion-row>
    <!-- cupon a validar -->
    <ion-row class="container" *ngIf="showTours">
      <ion-col size="12">
          <h3>¿Tienes un código?</h3>
      </ion-col>
      <ion-col size="12">
          <ion-input [(ngModel)]="couponCode" placeholder="Escríbelo aquí"></ion-input>
      </ion-col>
      <ion-col size="12"> 
          <ion-button class="primary" (click)="validate(couponCode)" [disabled]="couponCode===undefined">Validar</ion-button>
      </ion-col>
      <ion-col size="12"> 
        <p class="warn-text">Si no tienes un código y quieres este paquete</p>
          <ion-button class="primary">Contactar con Ana</ion-button>
      </ion-col>
    </ion-row>
    <!-- cupon Validado -->
    <ion-row class="container" *ngIf="isValid && isActivated == false">
      <ion-col size="12">
          <h3>Tú código</h3>
      </ion-col>
      <ion-col size="12">
          <p class="coupon-code" >{{couponCode}}</p>
      </ion-col>
      <ion-col size="12"> 
        <p class="warn-text">Es valido, si lo activas ahora solo podrás usarlo durante los siguientes <span class="valid-days">10</span> días</p>
        <ion-button class="primary" (click)="activate()">Activar ahora</ion-button>
        <ion-button class="cancel-btn">Despues</ion-button>
      </ion-col>
    </ion-row>
    <!--When is activated-->
    <ion-grid class="content-list">  
        <ion-row *ngFor="let audio of audiosList; let i = index">
          <ion-col size="2" class="index-col">
            <span class="index">{{i+1}}</span>
          </ion-col>
          <ion-col size="7">
            <span class="file-tour-name">{{audio.name}}</span>
            <br>
            <p class="file-tour-desc"> Dolorum inventore nam convallis eveniet hac class adipiscing blanditiis. Praesentium turpis cursus epteur.</p>
            <ion-range #progressBar [(ngModel)]="audio.audioelement.progress" max="100" color="success" (touchend)="seek(audio.audioelement, i)" (mouseup)="seek(audio.audioelement,i)"></ion-range>
          </ion-col >
          <ion-col size="3" class="play-div">
            <img src="../../assets/img/play.svg" (click)="play(audio.audioelement)" *ngIf="!audio.isPlaying"/>
            <img src="../../assets/img/pause.svg" (click)="pause(audio.audioelement)" *ngIf="audio.isPlaying"/>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
