<ion-header>
  <app-toolbar></app-toolbar>
</ion-header>

<ion-content>
  <div class="header">
    <h3>{{ 'COUNTRIES.countries' | translate }}</h3>
    <p class="header-text">{{ 'COUNTRIES.counries_desc' | translate }}</p>
  </div>
  <ion-grid>
    <ion-row *ngIf="paises">
      <ion-col size="6" *ngFor="let pais of paises">
        <div class="warp-solid"></div>
        <img class="portait-img" *ngIf="pais.field_imagen == ''" src="./assets/img/local/250x250.png" (click)="countryDetail(pais.tid)"/>
        <img class="portait-img" *ngIf="pais.field_imagen" [src]="co.API+pais.field_imagen" (click)="countryDetail(pais.tid)"/>
        <div class="bottom-slider-text" (click)="countryDetail(pais.tid)">
          <span class="title-slider">{{pais.nombrePais}}</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
