<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <img class="logo" src="./assets/img/logo.svg"/>
      </ion-buttons>
      <ion-buttons slot="primary">
        <ion-icon (click)="openCart()" class="toolbar-icons" src="./assets/img/shopping-bag.svg" color="primary"></ion-icon>
        <ion-badge *ngIf="cart.length > 0" class="notifications-badge">{{cartItemCount | async}}</ion-badge>
        <ion-menu-button class="toolbar-icons" color="primary"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div class="header">
    <h3>Países</h3>
    <p class="header-text">¿Próximo a visitar alguno de estos países?, explora todos los podcast que tenemos para ti.</p>
  </div>
  <ion-grid>
    <ion-row *ngIf="paises">
      <ion-col size="6" *ngFor="let pais of paises">
        <div class="warp-solid"></div>
        <img class="portait-img" *ngIf="pais.field_imagen == ''" src="./assets/img/exampleImage.png" (click)="countryDetail(pais.tid)"/>
        <img class="portait-img" *ngIf="pais.field_imagen" [src]="co.API+pais.field_imagen" (click)="countryDetail(pais.tid)"/>
        <div class="bottom-slider-text" (click)="countryDetail(pais.tid)">
          <span class="title-slider">{{pais.nombrePais}}</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
