<ion-header>
  <app-toolbar></app-toolbar>
</ion-header>
<ion-content>
  <ion-row class="header-row">
    <ion-col size="5">
      <img class="portait-img" src="./assets/img/2.jpeg"/>
    </ion-col>
    <ion-col size="7">
      <div class="header-text">
        <h4>{{currentTour?.title}}</h4>
        <span class="price">{{currentTour?.field_costo| currency:'USD'}} USD</span>
        <br>
       <!--  <ion-button (click)="buy(true)" *ngIf="comprado == false">Comprar Todo</ion-button>
        <ion-button (click)="buy(false)" *ngIf="comprado">Comprar Todo</ion-button> -->
        <ion-button (click)="buyAllTour()" [disabled]="isPurchased==true || blockByGlobalPurchase == true">{{ 'GRAL.buy_all' | translate }}</ion-button> 
      </div>
    </ion-col>
  </ion-row>
  <div class="description">
    <p>{{currentTour?.body}}</p>
  </div>
  <!--GRID OCUPADO PARA CUANDO AUN NO SE COMPRA CONTENIDO-->
  <ion-grid class="content-list" *ngIf="isPurchased == false">  
    <ion-row *ngFor="let audio of audiosArray; let i = index">
      <ion-col size="2" class="index-col">
        <span class="index">{{i+1}}</span>
      </ion-col>
      <ion-col size="7" class="index-col">
        <p class="file-tour-name">{{audio.name}}</p>
        
      </ion-col >
      <!--<ion-col size="3" class="centered" *ngIf="audio.comprado!==true">
        <span class="price">{{audio.field_costo| currency:'USD'}}</span>
        <br>
        <ion-button (click)="addToCart(audio)" [disabled]="blockByGlobalPurchase == true">Comprar</ion-button>
      </ion-col>-->
      <ion-col size="3" class="play-div" *ngIf="audio.comprado===true">
        <img src="../../assets/img/play.svg" (click)="play(audio.audioelement)" *ngIf="!audio.isPlaying"/>
        <img src="../../assets/img/pause.svg" (click)="pause(audio.audioelement)" *ngIf="audio.isPlaying"/>
        <br>
        <span class="counter"> 1 de 3</span>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--GRID OCUPADO PARA CUANDO YA SE COMPRO CONTENIDO-->
  <ion-grid class="content-list" *ngIf="isPurchased == true">  
    <ion-row *ngFor="let audio of audiosArray; let i = index">
      <ion-col size="2" class="index-col">
        <span class="index">{{i+1}}</span>
      </ion-col>
      <ion-col size="7">
        <!--<audio id="{{audio.mid}}" [src]="co.API+audio.field_media_audio_file" controls>
        </audio>-->
        <span class="file-tour-name">{{audio.name}}</span>

        <!-- <ion-progress-bar value="0.5"></ion-progress-bar> -->
        <ion-range #progressBar [(ngModel)]="audio.audioelement.progress" max="{{audio.audioelement._duration * 1000 | date:'mm:ss'}}" color="success" pin="true" step="0.5" (touchend)="seek(audio.audioelement, i)" (mouseup)="seek(audio.audioelement,i)">
          <ion-label slot="start">00:00</ion-label>
          <ion-label slot="end">{{audio.audioelement._duration * 1000 | date:'mm:ss'}} </ion-label>
        </ion-range>
      </ion-col >
      <ion-col size="3" class="play-div">
        <img src="../../assets/img/play.svg" (click)="play(audio.audioelement)" *ngIf="!audio.isPlaying"/>
        <img src="../../assets/img/pause.svg" (click)="pause(audio.audioelement)" *ngIf="audio.isPlaying"/>
        <br>
        <span class="counter"> 1 de 3</span>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="goBack()" routerDirection="back" color="light" size="small">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>