<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <img class="logo" src="./assets/img/logo.svg"/>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-icon (click)="openCart()" class="toolbar-icons" src="./assets/img/shopping-bag.svg" color="primary"></ion-icon>
        <ion-badge *ngIf="cart.length > 0" class="notifications-badge">{{cartItemCount | async}}</ion-badge>
      <ion-menu-button class="toolbar-icons" color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="header-row">
    <ion-col size="5">
      <img class="portait-img" src="./assets/img/2.jpeg"/>
    </ion-col>
    <ion-col size="7">
      <div class="header-text">
        <h4>{{currentTour?.title}}</h4>
        <span class="price">{{currentTour?.field_costo| currency:'USD'}}</span>
        <br>
        <ion-button (click)="buy(true)" *ngIf="comprado == false">Comprar Todo</ion-button>
        <ion-button (click)="buy(false)" *ngIf="comprado">Comprar Todo</ion-button>
      </div>
    </ion-col>
  </ion-row>
  <div class="description">
    <p>{{currentTour?.body}}</p>
  </div>
  <!--GRID OCUPADO PARA CUANDO AUN NO SE COMPRA CONTENIDO-->
  <ion-grid class="content-list" *ngIf="comprado == false">  
    <ion-row *ngFor="let audio of audiosArray; let i = index">
      <ion-col size="2" class="index-col">
        <span class="index">{{i+1}}</span>
      </ion-col>
      <ion-col size="7">
        <span class="file-tour-name">{{audio.name}}</span>
        <br>
        <p class="file-tour-desc"> Dolorum inventore nam convallis eveniet hac class adipiscing blanditiis. Praesentium turpis cursus epteur.</p>
      </ion-col >
      <ion-col size="3" class="centered">
        <span class="price">{{audio.field_costo| currency:'USD'}}</span>
        <br>
        <ion-button (click)="addToCart(audio)">Comprar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--GRID OCUPADO PARA CUANDO YA SE COMPRO CONTENIDO-->
  <ion-grid class="content-list" *ngIf="comprado == true">  
    <ion-row *ngFor="let audio of audiosArray; let i = index">
      <ion-col size="2" class="index-col">
        <span class="index">{{i+1}}</span>
      </ion-col>
      <ion-col size="7">
        <span class="file-tour-name">{{audio.name}}</span>
        <br>
        <p class="file-tour-desc"> Dolorum inventore nam convallis eveniet hac class adipiscing blanditiis. Praesentium turpis cursus epteur.</p>
        <ion-progress-bar value="0.5"></ion-progress-bar>
      </ion-col >
      <ion-col size="3" class="play-div">
        <img src="../../assets/img/play.svg"/>
        <br>
        <span class="counter"> 1 de 3</span>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
