<ion-header>
  <app-toolbar></app-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="login_data" (ngSubmit)="doLogin(login_data.value)">
    <ion-row class="container">
      <ion-col size="12">
        <h3>{{ 'DREAMJORDANDET.login' | translate }}</h3>
      </ion-col>
      <ion-col size="12">
          <ion-input formControlName="email" placeholder="{{ 'LOGREG.email' | translate }}"></ion-input>
      </ion-col>
      <ion-col size="12">
          <ion-input type="password" formControlName="password" placeholder="{{ 'LOGREG.password' | translate }}"></ion-input>
        </ion-col>
      <ion-col size="12">
        <ion-button type="submit" [disabled]="!login_data.valid">{{ 'DREAMJORDANDET.access' | translate }}</ion-button>
      </ion-col> 
      <ion-col size="12"> 
        <ion-button (click)="registrar()" >{{ 'LOGREG.register' | translate }}</ion-button>
      </ion-col> 
      <ion-col size="12"> 
        <a (click)="requestTempPass()">{{ 'LOGREG.forgot_password' | translate }}</a>
      </ion-col> 
      <!-- <ion-col size="12">
        <ion-button (click)="cancel()">{{ 'LOGREG.cancel' | translate }}</ion-button>
      </ion-col>  -->
      <p>{{ 'DREAMJORDANDET.registro_label' | translate }}</p>
    </ion-row>
  </form>
</ion-content>