<ion-content>
  <form [formGroup]="login_data" (ngSubmit)="doLogin(login_data.value)">
    <div class="warp-solid"></div>
    <ion-row class="container">
      <ion-col size="12">
        <img class="logo" src="../../assets/img/LOGO-V-B.svg"/>
      </ion-col>
      <ion-col size="12">
          <ion-input formControlName="email" placeholder="Correo"></ion-input>
      </ion-col>
      <ion-col size="12">
          <ion-input formControlName="password" placeholder="Contraseña"></ion-input>
        </ion-col>
      <ion-col size="12">
        <ion-button type="submit" [disabled]="!login_data.valid">Log In</ion-button>
      </ion-col> 
      <ion-col size="12"> 
        <ion-button (click)="registrar()" >Registro</ion-button>
      </ion-col> 
      <ion-col size="12">
        <ion-button (click)="cancel()">Cancelar</ion-button>
      </ion-col> 
    </ion-row>
  </form>
</ion-content>