ion-content{
    --background:  url("../../assets/img/bg.png") no-repeat center center / cover;
}

.logo{
    width: 60%;
    height: auto;
    max-width: 200px;

}

.container{
    padding: 8rem 3rem;
    text-align: center;
}

ion-button{
    --background: transparent;
    font-size: 2rem;
    width: 64%;
    height: 70px;
    margin-top: 20px;
    font-weight: bolder;
    --border-color: #fff;
    --border-width: 3px;
    --border-style: solid;
    --border-radius: 0px;
    --padding-start: 30px;
    --padding-end: 30px;
    max-width: 250px;
}

.warp-solid{
    width: 100%;
    position: absolute;
    background-color: rgba(60, 40, 21, .5);
    height: 100%;
    z-index: 0;
    mix-blend-mode: multiply;
  }