<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <img class="logo" src="./assets/img/logo.svg"/>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-icon (click)="openCart()" class="toolbar-icons" src="./assets/img/shopping-bag.svg" color="primary"></ion-icon>
      <ion-badge *ngIf="cart.length > 0" class="notifications-badge">{{cartItemCount | async}}</ion-badge>
      <ion-menu-button class="toolbar-icons" color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="header">
    <h3>Mis Compras</h3>
    <p class="header-text">Aquí se encuentran todos los audios a los que tienes acceso en esta cuenta.</p>
  </div>
  <div class="header" *ngIf="myPurchases?.length==0">
    <p class="header-text">Aun no has comprado ningun contenido.</p>
  </div>

  <ion-grid *ngIf="myPurchases?.length>0">
    <ion-row>
      <ion-col size="6">
        <div class="warp-solid"></div>
        <img class="portait-img" src="./assets/img/exampleImage.png"/>
        <div class="bottom-slider-text">
          <span class="title-slider">Petra y Little Petra</span>
          <br>
          <span class="sub-slider">Jordania</span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
