<ion-header>
  <app-toolbar></app-toolbar>
</ion-header>

<ion-content>
<!--GRID OCUPADO PARA CUANDO AUN NO SE COMPRA CONTENIDO-->
<ion-grid class="content-list">  
  <ion-row *ngFor="let item of cart">
    <ion-col size="3" class="index-col">
      <img class="tmb-img" [src]="co.API+item.image"/>
    </ion-col>
    <ion-col size="6">
      <p class="file-tour-name">{{item.name}}  <!-- <span class="file-tour-desc">País completo</span> --></p>
    </ion-col >
    <ion-col size="2" class="centered">
      <span class="price">{{item.field_costo | currency:'USD'}}</span>
    </ion-col>
    <ion-col size="1" class="centered">
        <ion-icon (click)="removeCartItem(item)" class="trashy" src="./assets/img/trash.svg" ></ion-icon>
      </ion-col>
  </ion-row>
    <div class="resume">
      <p class="resume-total">Total  <span class="price">{{getTotal() | currency:'USD'}}</span></p>
    </div>
    <div class="row">
      <div class="column">
        <ion-button class="cancel-btn" (click)="goHome()">{{ 'CART.keep' | translate }}</ion-button>
      </div>
      <div class="column">
        <ion-button (click)="payWithApplePay()" [disabled]="cart.length==0" class="primary">{{ 'CART.pay' | translate }}</ion-button>
      </div>
      <div class="column">
        <ion-button (click)="checkApplePayValid()" [disabled]="cart.length==0" class="primary">puedo pagar?</ion-button>
      </div>
      <!-- <div class="column">
        <ion-button (click)="paypal()" class="primary">testpaypal</ion-button>
      </div> -->
    </div>
    <div class="trash-all" *ngIf="cart.length>0" (click)="emptyCurrentCart()">
      <p>{{ 'CART.empty' | translate }} </p>
      <ion-icon class="trashy" src="./assets/img/trash.svg" ></ion-icon>
    </div>
</ion-grid>
</ion-content>
