<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <img class="logo" src="./assets/img/logo.svg"/>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-icon (click)="openCart()" class="toolbar-icons" src="./assets/img/shopping-bag.svg" color="primary"></ion-icon>
      <ion-badge *ngIf="cart.length > 0" class="notifications-badge">{{cartItemCount | async}}</ion-badge>
      <ion-menu-button class="toolbar-icons" color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-slides class="home-slide" pager="true" *ngIf="sliderEnded">
          <ion-slide  *ngFor="let slide of sliderTours">
            <div class="warp-solid"></div>
            <img [src]="co.API+slide.field_imagen_tour_app"/>
            <div class="slider-text" (click)="tourDetail(slide.nid, slide.tid, slide.field_dream_jordan)">
              <span class="title-slider" > {{slide.title}} </span>
              <br>
              <span class="sub-slider"> {{slide.field_paises}} </span>
            </div>
          </ion-slide>
      </ion-slides>
    </ion-row>
    <ion-row>
      <div class="welcome">
          <div class="welcome-text">
            <span class="welcome-title">{{ 'HOME.welcome' | translate }}</span>
            <br>
            <p class="body-welcome">{{ 'HOME.welcome_txt' | translate }}</p>
          </div>
      </div>
    </ion-row>
    <ion-row>
      <div class="coupon">
        <span>{{ 'HOME.have_coupon' | translate }}</span>
        <br>
        <ion-button (click)="validateCoupon()">{{ 'HOME.exchange' | translate }}</ion-button>
      </div>
    </ion-row>
    
    <ion-row>
      <p class="title-carousel">{{ 'HOME.countries' | translate }}</p>
    </ion-row>
    <ion-row>
     <!-- SLIDER 1-->
    
    <ion-slides class="bottom-slider" [options]="slideOptsDJ" *ngIf="countriesEnded === true">
      <ion-slide *ngFor="let pais of paises">
        <div class="warp-solid"></div>
        <img [src]="co.API+pais.field_imagen" />
        <div class="bottom-slider-text">
          <span class="title-slider"(click)="countryDetail(pais.tid)">{{pais.nombrePais}}</span>
        </div>
      </ion-slide> 
    </ion-slides>
    </ion-row>
    <ion-row>
      <p class="title-carousel">{{ 'HOME.djplans' | translate }}</p>
    </ion-row>
    <ion-row>
      <!-- SLIDER 1-->
      <ion-slides class="bottom-slider" [options]="slideOptsDJ" *ngIf="jdtoursEnded">
        <ion-slide *ngFor="let tour of DreamJordanTours">
          <div class="warp-solid"></div>
          <img [src]="co.API+tour.field_imagen_tour_app"/>
          <div class="bottom-slider-text">
            <span class="title-slider" (click)="tourDetail(tour.nid, 0, tour.field_dream_jordan)" > {{tour.title}} </span>
          </div>
        </ion-slide>
    </ion-slides>
    </ion-row>
  </ion-grid>
</ion-content>

