<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <img class="logo" src="./assets/img/logo.svg"/>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-icon (click)="openCart()" class="toolbar-icons" src="./assets/img/shopping-bag.svg" color="primary"></ion-icon>
        <ion-badge class="notifications-badge">05</ion-badge>
      <ion-menu-button class="toolbar-icons" color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-slides class="home-slide" pager="true">
          <ion-slide>
            <div class="warp-solid"></div>
            <img src="./assets/img/exampleImage.png"/>
            <div class="slider-text">
              <span class="title-slider">Ciudad de Amman</span>
              <br>
              <span class="sub-slider">Jordania</span>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="warp-solid"></div>
            <img src="./assets/img/exampleImage.png"/>
            <div class="slider-text">
              <span class="title-slider">Ciudad de Amman</span>
              <br>
              <span class="sub-slider">Jordania</span>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="warp-solid"></div>
            <img src="./assets/img/exampleImage.png"/>
            <div class="slider-text">
              <span class="title-slider">Ciudad de Amman</span>
              <br>
              <span class="sub-slider">Jordania</span>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="warp-solid"></div>
            <img src="./assets/img/exampleImage.png"/>
            <div class="slider-text">
              <span class="title-slider">Ciudad de Amman</span>
              <br>
              <span class="sub-slider">Jordania</span>
            </div>
          </ion-slide>
      </ion-slides>
    </ion-row>
    <ion-row>
      <div class="welcome">
          <div class="welcome-text">
            <span class="welcome-title">!Bienvenido¡</span>
            <br>
            <p class="body-welcome">En nuestra app podrás comprar audiotours de diferentes regiones del mundo para que puedas conocer a fondo los lugares que visites.</p>
          </div>
      </div>
    </ion-row>
    <ion-row>
      <div class="coupon">
        <span>¿Tienes un código?</span>
        <br>
        <ion-button (click)="validateCoupon()">Canjealo aqui</ion-button>
      </div>
    </ion-row>
    <ion-row *ngIf="visibles">
      <p class="title-carousel">Mis Compras</p>
    </ion-row>
    <ion-row *ngIf="visibles">
      <ion-slides class="bottom-slider" [options]="slideOpts">
          <ion-slide >
            <div class="warp-solid"></div>
            <img src="./assets/img/exampleImage.png"/>
            <div class="bottom-slider-text">
              <span class="title-slider">Petra y Little Petra</span>
              <br>
              <span class="sub-slider">Jordania</span>
            </div>
          </ion-slide>
          <ion-slide >
            <div class="warp-solid"></div>
            <img src="./assets/img/exampleImage.png"/>
            <div class="bottom-slider-text">
              <span class="title-slider">Xochimilco</span>
              <br>
              <span class="sub-slider">México</span>
            </div>
          </ion-slide>
          <ion-slide >
            <div class="warp-solid"></div>
            <img src="./assets/img/exampleImage.png"/>
            <div class="bottom-slider-text">
              <span class="title-slider">El Castillo del Desierto</span>
              <br>
              <span class="sub-slider">Jordania</span>
            </div>
          </ion-slide>
          <ion-slide >
            <div class="warp-solid"></div>
            <img src="./assets/img/exampleImage.png"/>
            <div class="bottom-slider-text">
              <span class="title-slider">Petra y Little Petra</span>
              <br>
              <span class="sub-slider">Jordania</span>
            </div>
          </ion-slide>
          <ion-slide >
            <div class="warp-solid"></div>
            <img src="./assets/img/exampleImage.png"/>
            <div class="bottom-slider-text">
              <span class="title-slider">Xochimilco</span>
              <br>
              <span class="sub-slider">México</span>
            </div>
          </ion-slide>
          <ion-slide >
            <div class="warp-solid"></div>
            <img src="./assets/img/exampleImage.png"/>
            <div class="bottom-slider-text">
              <span class="title-slider">El Castillo del Desierto</span>
              <br>
              <span class="sub-slider">Jordania</span>
            </div>
          </ion-slide>
      </ion-slides>
    </ion-row>
    <ion-row>
      <p class="title-carousel">Países</p>
    </ion-row>
    <ion-row>
      <ion-slides class="bottom-slider" [options]="slideOpts">
          <ion-slide >
            <div class="warp-solid"></div>
            <img src="./assets/img/exampleImage.png"/>
            <div class="bottom-slider-text">
              <span class="title-slider">México</span>
            </div>
          </ion-slide>
          <ion-slide >
            <div class="warp-solid"></div>
            <img src="./assets/img/exampleImage.png"/>
            <div class="bottom-slider-text">
              <span class="title-slider">México</span>
            </div>
          </ion-slide>
          <ion-slide >
            <div class="warp-solid"></div>
            <img src="./assets/img/exampleImage.png"/>
            <div class="bottom-slider-text">
              <span class="title-slider">México</span>
            </div>
          </ion-slide>
          <ion-slide >
            <div class="warp-solid"></div>
            <img src="./assets/img/exampleImage.png"/>
            <div class="bottom-slider-text">
              <span class="title-slider">México</span>
            </div>
          </ion-slide>
          <ion-slide >
            <div class="warp-solid"></div>
            <img src="./assets/img/exampleImage.png"/>
            <div class="bottom-slider-text">
              <span class="title-slider">México</span>
            </div>
          </ion-slide>
          <ion-slide >
            <div class="warp-solid"></div>
            <img src="./assets/img/exampleImage.png"/>
            <div class="bottom-slider-text">
              <span class="title-slider">México</span>
            </div>
          </ion-slide>
      </ion-slides>
    </ion-row>
    <ion-row>
      <p class="title-carousel">Paquetes Dream Jordan</p>
    </ion-row>
    <ion-row>
      <ion-slides class="bottom-slider" [options]="slideOpts">
          <ion-slide >
            <div class="warp-solid"></div>
            <img src="./assets/img/exampleImage.png"/>
            <div class="bottom-slider-text">
              <span class="title-slider">Los imperdibles de Jordania</span>
            </div>
          </ion-slide>
          <ion-slide >
            <div class="warp-solid"></div>
            <img src="./assets/img/exampleImage.png"/>
            <div class="bottom-slider-text">
              <span class="title-slider">Viaje Rápido Israel / Jordania (8 días)</span>
            </div>
          </ion-slide>
          <ion-slide >
            <div class="warp-solid"></div>
            <img src="./assets/img/exampleImage.png"/>
            <div class="bottom-slider-text">
              <span class="title-slider">Viaje Relámpago a Jordania e Israel 3 Días</span>
            </div>
          </ion-slide>
        <ion-slide >
          <div class="warp-solid"></div>
          <img src="./assets/img/exampleImage.png"/>
          <div class="bottom-slider-text">
            <span class="title-slider">Los imperdibles de Jordania</span>
          </div>
        </ion-slide>
        <ion-slide >
          <div class="warp-solid"></div>
          <img src="./assets/img/exampleImage.png"/>
          <div class="bottom-slider-text">
            <span class="title-slider">Viaje Rápido Israel / Jordania (8 días)</span>
          </div>
        </ion-slide>
        <ion-slide >
          <div class="warp-solid"></div>
          <img src="./assets/img/exampleImage.png"/>
          <div class="bottom-slider-text">
            <span class="title-slider">Viaje Relámpago a Jordania e Israel 3 Días</span>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>
</ion-content>

