<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <img class="logo" src="./assets/img/logo.svg"/>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-icon (click)="openCart()" class="toolbar-icons" src="./assets/img/shopping-bag.svg" color="primary"></ion-icon>
      <ion-badge *ngIf="cart.length > 0" class="notifications-badge">{{cartItemCount | async}}</ion-badge>
      <ion-menu-button class="toolbar-icons" color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-slides class="home-slide" pager="true">
          <ion-slide>
            <div class="warp-solid"></div>
            <img src="./assets/img/exampleImage.png"/>
            <div class="slider-text">
              <span class="title-slider">Ciudad de Amman</span>
              <br>
              <span class="sub-slider">Jordania</span>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="warp-solid"></div>
            <img src="./assets/img/exampleImage.png"/>
            <div class="slider-text">
              <span class="title-slider">Ciudad de Amman</span>
              <br>
              <span class="sub-slider">Jordania</span>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="warp-solid"></div>
            <img src="./assets/img/exampleImage.png"/>
            <div class="slider-text">
              <span class="title-slider">Ciudad de Amman</span>
              <br>
              <span class="sub-slider">Jordania</span>
            </div>
          </ion-slide>
          <ion-slide>
            <div class="warp-solid"></div>
            <img src="./assets/img/exampleImage.png"/>
            <div class="slider-text">
              <span class="title-slider">Ciudad de Amman</span>
              <br>
              <span class="sub-slider">Jordania</span>
            </div>
          </ion-slide>
      </ion-slides>
    </ion-row>
    <ion-row>
      <div class="welcome">
          <div class="welcome-text">
            <span class="welcome-title">{{ 'HOME.welcome' | translate }}</span>
            <br>
            <p class="body-welcome">{{ 'HOME.welcome_txt' | translate }}</p>
          </div>
      </div>
    </ion-row>
    <ion-row>
      <div class="coupon">
        <span>{{ 'HOME.have_coupon' | translate }}</span>
        <br>
        <ion-button (click)="validateCoupon()">{{ 'HOME.exchange' | translate }}</ion-button>
      </div>
    </ion-row>
    
    <ion-row>
      <p class="title-carousel">{{ 'HOME.countries' | translate }}</p>
    </ion-row>
    <ion-row>
     <!-- SLIDER 1-->
     <swiper [config]="slideOpts" >
      <div *ngFor="let pais of paises">
        <div class="warp-solid"></div>
          <img class="fitme" src="./assets/img/exampleImage.png"/>
          <!-- <img class="fitme" *ngIf="pais.field_imagen" [src]="co.API+pais.field_imagen"/> -->
          <div class="bottom-slider-text">
            <span class="title-slider" (click)="countryDetail(pais.tid)">{{pais.nombrePais}}</span>
          </div>
      </div>
    </swiper>
    </ion-row>
    <ion-row>
      <p class="title-carousel">{{ 'HOME.djplans' | translate }}</p>
    </ion-row>
    <ion-row>
      <!-- SLIDER 1-->
      <swiper [config]="slideOptsDJ" >
      <div *ngFor="let tour of DreamJordanTours">
        <div class="warp-solid"></div><!--Cuando le pasamos la imagen normal se rome * revisar-->
        <img class="fitme" src="../../assets/img/exampleImage.png"/>
        <div class="bottom-slider-text">
          <span class="title-slider" (click)="tourDetail(tour.nid)">{{tour.title}}</span>
        </div>
      </div>
    </swiper>
    </ion-row>
  </ion-grid>
</ion-content>

