<ion-header>
  <app-toolbar></app-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="register_data" (ngSubmit)="register(register_data.value)">
    <ion-row class="container">
      <ion-col size="12">
        <h3>{{ 'DREAMJORDANDET.register' | translate }}</h3>
      </ion-col>
      <ion-col size="12">
          <ion-input formControlName="email" placeholder="{{ 'LOGREG.email' | translate }}"></ion-input>
      </ion-col>
      <ion-col size="12">
          <ion-input type="password" formControlName="password" placeholder="{{ 'LOGREG.password' | translate }}"></ion-input>
        </ion-col>
      <ion-col size="12">
        <ion-button type="submit" [disabled]="!register_data.valid">{{ 'LOGREG.register' | translate }}</ion-button>
      </ion-col> 
      <ion-col size="12">
        <ion-button (click)="cancel()" >{{ 'LOGREG.cancel' | translate }}</ion-button>
      </ion-col> 
      <ion-col size="12">
        <a (click)="goToLogin()" >{{ 'DREAMJORDANDET.have_account' | translate }}</a>
      </ion-col> 
      <p>{{ 'DREAMJORDANDET.registro_label' | translate }}</p>
    </ion-row>
    
  </form>
</ion-content>